<!DOCTYPE html>
<html>
<head>
<title>Add Expense</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
<h2> Add Expense</h2>
<form method="POST">

    <!-- Amount -->
    <label>Amount</label>
    <input type="number" name="amount" placeholder="Amount" required>

    <!-- Category -->
    <label>Category</label>
    <select name="category">
        <option>Food</option>
        <option>Travel</option>
        <option>Shopping</option>
        <option>Bills</option>
        <option>Others</option>
    </select>

    <!-- Date -->
    <label>Date</label>
    <input type="date" name="date" required>

    <!-- Description -->
    <label>Description</label>
    <input type="text" name="description" placeholder="Description">

    <button type="submit">Submit</button>
</form>
<a href="/">⬅ Back</a>
</body>
</html>