<!DOCTYPE html>
<html>
    <head>
        <title>Expense Tracker</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    </head>
<body>

<canvas id="bgCanvas"></canvas>

<div class="content">
    <h1>💰 Expense Tracker</h1>

    <div class="top-right">
    <a href="/dashboard" class="btn">📊 Dashboard</a>
    <a href="/logout" class="btn">🚪 Logout</a>
    </div>

    <a href="/add" class="add-card-btn">+ Add Expense</a>

    <table>
        <tr>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
            <th>Description</th>
        </tr>

       {% for exp in expenses %}
       <tr>
            <td><b>₹{{ exp[0] }}</b></td>
            <td><b>{{ exp[1] }}</b></td>
            <td><b>{{ exp[2] }}</b></td>
            <td><b>{{ exp[3] }}</b></td>
        </tr>
        {% endfor %}
    </table>
</div>

<script src="{{ url_for('static', filename='js/bg.js') }}"></script>

</body>
</html>